# Environment
.env
venv/
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/

# Data (prea mare pentru git)
data/*.dump
data/documents-sql/*.xlsx

# Mac
.DS_Store

# Alembic / SQLite
*.db

extracted_data/

key-takeaway.md
