google-genai
python-dotenv
pydantic
pyyaml
jinja2
gradio
langchain-core
langchain-ollama
langchain-google-genai
langchain-anthropic
langchain-openai

# Document loaders
langchain-community
pypdf
docx2txt

# Database
sqlalchemy
psycopg2-binary
pgvector
alembic

# Embeddings
sentence-transformers